/* This file is intended to be modified and must be copied along with the main html file */
@media screen {
	/* Customize theme: change body, h1, strong, pre or .slide class */
	body {
		font-family: 'Lato', sans-serif;
		background-color: #202020;
		color: #eeeeee;
		line-height: 1.54;
	}
	a {
		color: #ece17a;
	}
	.slide h2 {
		font-family: 'Oswald', sans-serif;
		font-weight: 200;
		font-size: 1.5rem;
		color: #ece17a;
	}
	.slide h1 {
		font-family: 'Oswald', sans-serif;
		font-weight: 400;  /* 400 = normal */
		font-size: 1.8rem;
		color: #edd400;
	}
	.slide pre, .slide samp {
		font-family: 'Inconsolata', monospace;
		font-size: 0.6rem;
		line-height: 1.1;
	}
	/* samp elements are similar to code/pre, but often used to present program output  */
	.slide samp {
		font-style: italic;
		color: #edd400;
	}
	/* Optional: samp elements are preceded by a special symbol  */
	/* .slide samp::before {
		content: "⇨ ";
	} */
	.noselect { /* Disable text selection: https://stackoverflow.com/questions/16805684/javascript-disable-text-select/16805743 */
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	ul {
		margin-left:1em;
	}
	/* Customize initial slide: bigger title, and swapped fore and background colors for impact. */
	.slide-0 { color: #333333; background-color: #edd400; }
	.slide-0 h1 { color: #333333; font-size: 2.6rem; }
	.slide-0 h2 { color: #333333; }
	.slide-0 a { color: #333333; text-shadow: 0px 0px 5px #949494; }
	/* Customize specific slides: special colors or style, backgrounds, etc. Needs to be adapted for each specific presentation. */
	.slide-10 h1 { color: #f5e65e; text-shadow: 1px 1px 3px #dab200; }
	.slide-11 h1 { text-shadow: 1px 1px 3px #453029; }
	.slide-11 {
		color: #333333;
		background: url("img/test.png"), url("img/background.png");
		background-repeat: no-repeat, repeat;
		background-size: 25%, auto;
		background-position: bottom right;
	}
	.slide-14 .slide-content {
		background-image: url("http://trikita.co/slide/write_framed.png"),
		url("http://trikita.co/slide/styles.gif"),
		url("http://trikita.co/slide/illustrate_framed.png");
		background-repeat: no-repeat;
		background-size: 30%, 30%, 30%;
		background-position: bottom left, bottom center, bottom right;
	}
}
